<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 首先来解析 namespace：命名空间，此属性通常用来映射Dao(mapper)层接口 -->
<mapper namespace="com.Web.mapper.CartMapper">
    <!-- id:对应Dao(mapper)层接口方法名 parameterType：指定输入类型 -->
    <!-- useGeneratedKeys="ture" 把新增加的主键赋值到自己定义的keyProperty(id)中 -->

    <insert id="insertCart" parameterType="com.Web.entity.Cart">
        INSERT INTO cart (goodsName,userName,factory,image,unitPrice,Numb,userId)
        SELECT #{goodsName},#{userName},factory,image,unitPrice,1,#{userId}
        FROM goods
        WHERE goodsName = #{goodsName}
    </insert>

    <update id="updateCart" parameterType="com.Web.entity.Cart">
        UPDATE cart
        SET Numb = Numb + 1
        WHERE userName = #{userName} AND goodsName = #{goodsName}
    </update>

    <!-- CartMapper.xml -->
    <update id="updateNumbByName" parameterType="com.Web.entity.Cart">
        UPDATE cart
        SET Numb = Numb + 1
        WHERE cartId = #{cartId} AND userName = #{userName} AND goodsName = #{goodsName}
    </update>

    <select id="queryByName" parameterType="String" resultType="com.Web.entity.Cart">
        select * from cart where goodsName =#{goodsName} AND userName = #{userName}
    </select>

    <select id="queryByUserName" parameterType="String" resultType="com.Web.entity.Cart">
        select * from cart where userName = #{userName}
    </select>

    <delete id="deleteByName" parameterType="com.Web.entity.Cart">
        DELETE FROM cart
        WHERE userName = #{userName} AND goodsName = #{goodsName}
    </delete>

    <delete id="deleteAllByName" parameterType="com.Web.entity.Cart">
        DELETE FROM cart
        WHERE userName = #{userName}
    </delete>




    <!--    <update id="updateNumbById" parameterType="com.Web.entity.Cart">-->
<!--        UPDATE goods SET goodsState = #{Numb} WHERE goodsId = #{userName}-->
<!--    </update>-->


</mapper>