<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 首先来解析 namespace：命名空间，此属性通常用来映射Dao(mapper)层接口 -->
<mapper namespace="com.Web.mapper.CartMapper">
    <!-- id:对应Dao(mapper)层接口方法名 parameterType：指定输入类型 -->
    <!-- useGeneratedKeys="ture" 把新增加的主键赋值到自己定义的keyProperty(id)中 -->
    <select id="queryByGoodsName" parameterType="String" resultType="com.Web.entity.Goods">
        SELECT * FROM goods WHERE goodsName LIKE CONCAT('%', #{goodsName}, '%')
    </select>

    <insert id="insertCart" parameterType="com.Web.entity.Cart">
        INSERT INTO cart (cartId, goodsName, unitPrice, image, userName, Numb )
        VALUES (123,'133',12.1,'fas.jpg','admin',123)
    </insert>

    <update id="updateNumbById" parameterType="com.Web.entity.Cart">
        UPDATE goods SET goodsState = #{Numb} WHERE goodsId = #{userName}
    </update>


</mapper>