<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 首先来解析 namespace：命名空间，此属性通常用来映射Dao(mapper)层接口 -->
<mapper namespace="com.Web.mapper.GoodsMapper">
    <!-- id:对应Dao(mapper)层接口方法名 parameterType：指定输入类型 -->
    <!-- useGeneratedKeys="ture" 把新增加的主键赋值到自己定义的keyProperty(id)中 -->
    <select id="queryByGoodsName" parameterType="String" resultType="com.Web.entity.Goods">
        SELECT * FROM goods WHERE goodsName LIKE CONCAT('%', #{goodsName}, '%')
    </select>

    <select id="searchByGoodsName" parameterType="String" resultType="com.Web.entity.Goods">
        SELECT * FROM goods WHERE goodsName =#{goodsName}
    </select>

    <select id="queryByCategory" parameterType="String" resultType="com.Web.entity.Goods">
        select * from goods where category =#{goodsName}
    </select>

    <select id="selectByGoodsId" parameterType="String" resultType="com.Web.entity.Goods">
        select * from goods where goodsId = #{goodsName}
    </select>

    <select id="listGoods" parameterType="String" resultType="com.Web.entity.Goods">
        SELECT * FROM goods WHERE goodsState != 1 ORDER BY viewCount DESC LIMIT 10;
    </select>

    <!-- 切换商品上架状态 -->


    <insert id="addGoods" parameterType="com.Web.entity.Goods">
        INSERT INTO goods (goodsName, category, unitPrice, stock, factory, image, addTime, goodsState)
        VALUES (#{goodsName}, #{category}, #{unitPrice}, #{stock},#{factory}, #{image}, #{addTime}, #{goodsState})
    </insert>

</mapper>