<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 首先来解析 namespace：命名空间，此属性通常用来映射Dao(mapper)层接口 -->
<mapper namespace="com.Web.mapper.OrderDetailMapper">

    <insert id="insertOrderDetail" parameterType="com.Web.entity.OrderDetail">
        INSERT INTO orderdetail (orderId, userId, goodsId, orderNumb)
        VALUES (#{orderId}, #{userId}, #{goodsId}, #{orderNumb})
    </insert>

    <select id="queryOrderDetailsByOrderId" resultType="com.Web.entity.OrderDetail">
        SELECT
            od.orderId,
            od.orderNumb,
            g.goodsName,
            g.unitPrice,
            od.orderNumb * g.unitPrice AS totalPrice,
            g.factory,
            o.userAddress,
            o.receiptName,
            g.image
        FROM
            orderdetail od
                INNER JOIN goods g ON od.goodsId = g.goodsId
                INNER JOIN `order` o ON od.orderId = o.orderId
        WHERE
            od.orderId = #{orderId}
    </select>

</mapper>