<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 首先来解析 namespace：命名空间，此属性通常用来映射Dao(mapper)层接口 -->
<mapper namespace="com.Web.mapper.UserMapper">
    <!-- id:对应Dao(mapper)层接口方法名 parameterType：指定输入类型 -->
    <!-- useGeneratedKeys="ture" 把新增加的主键赋值到自己定义的keyProperty(id)中 -->
    <select id="queryUserByName" parameterType="String" resultType="com.Web.entity.User">
        select * from user where userName = #{userName}
    </select>

    <insert id="insertUser" parameterType="com.Web.entity.User">
        INSERT INTO user (userName, userPassword, userEmail, userAddress, userPhone)
        VALUES (#{userName}, #{userPassword}, #{userEmail}, #{userAddress}, #{userPhone})
    </insert>

    <update id="updateUserInfo" parameterType="com.Web.entity.User">
        UPDATE user
        SET userEmail = #{userEmail},
            userAddress = #{userAddress},
            userPhone = #{userPhone}
        WHERE userName = #{userName};
    </update>

    <update id="updateUserPassword" parameterType="com.Web.entity.User">
        UPDATE user
        SET userPassword = #{newUserPassword1}
        WHERE userName = #{userName};
    </update>

</mapper>