/* 导航栏样式 */
.dropdown-menu{
    background-color:rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
    --bs-dropdown-min-width: 1rem;
}
.dropdown-item{
    color: rgba(255, 255, 255, 0.55);
}

.body{
    background-color: #E8E1DF;;
}
/* 商品展示样式 */
.shop{
    display: block;
    margin: 10px auto ;
    width: 1200px;
}

.product-container {
    display: flex;
    flex-wrap: wrap; /* 允许商品元素换行显示 */
    justify-content: space-between; /* 水平方向均匀分布 */
}

.product {
    flex-basis: calc(20% - 40px); /* 每行显示五个商品，留出一定的间距 */
    margin-bottom: 20px; /* 底部间距 */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product img {
    width: 100%;
    border-radius: 5px;
}

.product h3 {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}



/* 底部信息样式 */
